<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Joel Hilton Film Collection</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Mission08_Team0211.styles.css" asp-append-version="true"/>
</head>
<body>

<header class="header">
    <div class="container header-container">
        <a href="/Home/index" class="logo">
            <span><i class="fa-solid fa-list-check"></i> Priority Map</span>
        </a>
        <nav class="nav">
            <a href="/Home/Create" class="nav-link">Add Task</a>
            <a href="/Home/Task" class="nav-link button button-primary">View Tasks</a>
        </nav>
    </div>
</header>

<div class="main-content">
    <main role="main">
        @RenderBody()
    </main>
</div>

<div class="footer">
    <div class="container">
        <p>Website built by Team 02-11</p>
        <p>© 2024 Priority Map. All rights reserved.</p>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>